# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/www/var/cache/*
/www/var/logs/*
/www/var/sessions/*
!/www/var/cache/.gitkeep
!/www/var/logs/.gitkeep
!/www/var/sessions/.gitkeep

# Managed by Composer
/www/app/bootstrap.php.cache
/www/var/bootstrap.php.cache
/www/bin/*
!/www/bin/console
!/www/bin/symfony_requirements

# Assets and user uploads
/www/web/bundles/
/www/web/uploads/

# Assets managed by Bower
/www/web/assets/vendor/

# PHPUnit
/www/app/phpunit.xml
/www/phpunit.xml

# Build data
/www/build/

# Composer PHAR
/www/composer.phar

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

www/app/cache/
.DS_Store
www/.DS_Store
www/web/products.csv

.vagrant/
html
cgi-bin
/vagrant/vagrantconfig.yml

### PHP Storm
.idea
/www/vendor/
